/* parent flex container*/
.mark {
    width: 90%;
    background-color: purple;
    border-color: purple;
    margin: 0 auto;
    margin-top: 100px
}
/* child flex container for top and bottom excluding the middle*/
.row {
    display: flex;
    flex-flow: nowrap row;
    height: 70px;
    justify-content: space-between;
}
/*child flex container for the middle/output*/
#output {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
    height: 40px;
}
/* button design*/
div.row input.all {
    width: 30%;
    cursor: pointer;
    font-size: x-small;
    height: 40px;
    border-color: orange;
    background-color: orange;
    outline: none;
}
/* when the mouse hovers the button*/
div.row input.all:hover {
    color: purple;
}
/* effect for the set-value with id check when clicked */
div.row input#check:active {
    background-color: orangered;
    border-color: purple;
}
/* input design*/
div.row input.center {
    width: 30%;
    height: 42px;
    background-color: white;
    outline: none;
    text-align: center;
}
/*remove the spinner in both input on all browsers of chrome, safari, edge, opera*/
div.row input.center::-webkit-outer-spin-button, div.row input.center::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/*remove the spinners on all firefox browsers*/
div.row input.center[type=number] {
    -moz-appearance: textfield;
}
/* right child item*/
.right {
    order: 3;
}
/* left child item*/
.left {
    order: 1;
}
/*center child item*/
.center {
    order: 2;
}
/* design for the input placeholder*/
.center::placeholder {
    color: whitesmoke;
}
/* position/align the top child container to the bottom*/
#floor {
    align-items: flex-end;
}
/* position/align the top child container to the top*/
#ceil {
    align-items: flex-start;
}